---
layout: default
title: News
---

<div class="posts">

 <div class="post">
    <h1 class="post-title">
      <a href="http://eltrin.com">
        Welcome to Eltrin!
      </a>
    </h1>
    
    We are a gaming company that's currently working on the prototype of our first ever game: <a href="http://eltrin.com/Project%20EGO/">Project EGO</a>
    
    <div class="wmuSliderWrapper">
            <article>
                <img src="http://eltrin.com/images/1.png" />
            </article>
            <article>
                <img src="http://eltrin.com/images/2.png" />
            </article>
            <article>
                <img src="http://eltrin.com/images/3.png" />
            </article>
            
            
            <article>
                <img src="http://farm7.static.flickr.com/6053/6268322528_818ab33f7f.jpg" />
            </article>

            <article>
                <img src="http://farm7.static.flickr.com/6232/6239597762_15491d4c97.jpg" />
            </article>
        
            <article>
                <img src="http://farm7.static.flickr.com/6057/6224753006_9fb962d890.jpg" />
            </article>

            <article>
                <img src="http://farm7.static.flickr.com/6036/6213397745_1d8f223e93.jpg" />
            </article>
            
        </div>
    
  </div>
  
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

