body{
	margin: 0;
	padding: 0;
	width: 100%;
    padding-top: 500px;
    background:#35527a;
}
h1 { 
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 0;
    font-family: 'Monda', sans-serif;
}
h2 {
    text-align: center;
    color: #ffffff;
    margin: 0;
	padding: 0;
    font-family: 'Monda', sans-serif;
}
h3 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
}
p{
    color: #ffffff;
    font-family: 'Monda', sans-serif;
    font-size:20px;
}
a {
    text-align: inherit;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
}
a:link {
    
    text-align: inherit;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
}
a:visited {
    
    text-align: inherit;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
}
footer { 
	height: 10px;
    padding: 20px;
    background:#4d4d4d;
}
footer p{
    font-size: 10px;
    text-align: center;
    padding: 0;
    margin: -6px;
}
footer a{
    font-size: 10px;
    text-align: center;
    padding: 0;
}
hr {
    display: normal;
    border-color: #000000;
    width: 80%;
}
ul#menu{
    text-align:center;
    margin-top: -6px;
    margin-left: -35px;
}
ul#menu li{
    padding:0;
    display:inline-block;
}
ul#menu li a{
    color: #ffffff;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
    opacity: 0.9;
    z-index: 150;
    box-shadow:0 2px 3px rgba(0,0,0,.4);
    margin-bottom: -52px;
}

.main-nav, 
.main {
    position: relative;
}
.main-nav-scrolled,
header {
    position:fixed;
    top:0;
	width: 100%; 
}

.main {
    margin:0 auto;
    display:table;
    margin: 0;
	padding: 50px 50px 50px 50px;
	width: 100%;
    background-color: #35527a;
    align-content: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    height: 100%;
}
.main img{
    margin:0 auto;
    display:table;
}
.main p{
    text-align: center;
}
.nav-li {
    float: left;
}

#lia {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3a434f;
    opacity: 0.9;
}

.active {
    background-color: #30496b;
    opacity: 0.7;
}
img{
    margin:auto;
    opacity: 0.9;
}
#center{
    margin:0 auto;
    display:table;
}
header { 
    background:#35527a;
    background-image:url("../img/earth.png");
    background-size:cover;
	height: 600px; 	
	margin-top: 0px;
    padding: 20px;
    opacity: 0.9;
}
#mid{
    width: 100%; 
	background-color: #4d4d4d;
	/*height: 90px; */	
	margin-top: 0px;
    padding: 20px;
    opacity: 0.9;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#mid1{
    width: 100%; 
	background-color: #35527a;
	/*height: 90px; */	
	margin-top: 0px;
    padding: 20px;
    opacity: 0.9;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#space{
    height: 50px;
}

#space1{
    height: 25px;
}